[control]
master ansible_host=192.168.70.10 ansible_port=22 ansible_user=master ansible_ssh_private_key_file=/home/myhome/.ssh/id_rsa

[nodes]
node01 ansible_host=192.168.70.11 ansible_port=22 ansible_user=master ansible_ssh_private_key_file=/home/myhome/.ssh/id_rsa

